* {
    font-family: "open Sans";
}

:root {
    --main-color: #3B0154;
    --secondary-color: #A69302;
    --secondary-color-transparent: #a6930281;
    /* --main-font: font-family: "Open Sans"; */
}

body {
    width: 80vw;
    margin: 0 auto;
}

/* HEADER */

header {
    color: var(--main-color);
    display: grid;
    /* gap: 10px; */
    grid-template-columns: 44px auto auto 44px;
    grid-template-rows: auto;
    align-items: center;
    text-align: center;
    border-bottom: solid 2px var(--main-color);
    margin-bottom: 1rem;
}

header a {
    background-color: rgb(233, 244, 247);
    border: solid 2px var(--main-color);
    display: flex;
    align-items: center;
    text-decoration: none;
    margin: .25rem;
    height: 44px;
    width: 5.7rem;
    justify-content: center;
}

header a:hover {
    background-color: rgb(0, 196, 250);
    color: white;
}

header h2 {
    padding: 1rem;
}

.current {
    background-color: rgb(0, 196, 250);
}

.icon {
    height: 44px;
    width: 44px;
    padding: .5rem;
}

#nav-bar {
    /* grid-row: 1/-1; */
    display: flex;
    justify-content: space-around;
    /* height: 44px; */
}

#ham-btn {
    display: none;
    width: 44px;
    height: 44px;
}

#ham-btn::after {
    content: "≡";
    font-size: 3rem;
}

#ham-btn.show::after {
    content: "\00d7";
}

#lightdark {
    width: 44px;
    height: 44px;
    padding: 1rem;
}

#lightdark:hover {
    background-color: rgb(0, 196, 250);
    cursor: pointer;
    /* box-shadow: 0 0 1rem 1rem rgb(0, 196, 250); */
}



/* MAIN */

main {
    color: var(--main-color);
    text-align: center;
}

#cards {
    display: grid;
    gap: .7rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

#cards section {
    border: solid 2px var(--main-color);
    display: grid;
    place-items: center;
    text-align: center;
    padding: .2rem;
    background: rgb(254, 242, 242);
}

#cards img {
    width: 75%;
    height: auto;
    padding: .2rem;
}

.bold {
    font-weight: bold;
}

.notVisible {
    background-color: rgb(237, 240, 240);
}

.notVisible img{
    display: none;
}

#cards.list {
    display: flex;
    flex-direction: column;
}

#gridList {
    padding: 1rem;
    margin: 1rem;
}

/* HOME */

#heroImg {
width: 100%;
}

#heroSection {
    position: relative;
}

#callToAction {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#callToAction p{
    margin: 1.5rem;
    font-weight: bolder;
}

#largeJoin a {
    color: var(--main-color);
}

#largeJoin {
    font-size: 35px;
    background-color: white;
    padding: .7rem;
    border-radius: 25%;
    box-shadow: 1px 1px 10px 5px rgb(39, 39, 42);
}

#largeJoin:hover {
    background-color: rgb(0, 196, 250);

}

.pageItems {
    text-align: center;
    border:  solid 2px var(--main-color);
    padding: 1rem;
    margin: 1rem;
}

#forecastHeader {
    grid-column: 1 / -1;
    border-bottom: solid 2px var(--main-color);
    padding: .25rem;
}

#forecast {
    background-color: rgba(204, 209, 240, 0.381);
    padding: .5rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

#forecast div{
    border: solid 2px var(--main-color);
    padding: 1rem;
    margin: 1rem;
}

#highTemp {
    color: rgb(211, 0, 0);
    font-weight: bolder;
}

#lowTemp {
    color: rgb(0, 0, 203);
    font-weight: bolder;
}

#currentEvents {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

#currentEvents h2 {
    grid-column: 1 / -1;
    border-bottom: solid 2px var(--main-color);
    padding: .25rem;
}

/* SUBMIT FORM */
#joinSection {
    display: grid;
    grid-template-columns: 1fr auto;
}

.membershipLevel {
    height: 100px;
}

#joinForm {
    background-color: rgba(134, 194, 215, 0.284);
    max-width: 600px;
    margin: 0 auto;
    display: grid;
    /* align-items: center; */
    text-align: left;
    padding: 1.5rem;
} 

#joinForm div {
    margin-bottom: 3rem;
    padding: .25rem;
    height: 50px;
} 

#joinForm input {
    height: 44px;
    min-width: 44px;
    margin: .25rem;
}

#joinForm #membershipLvl {
    height: auto;
    display: grid;
    align-items: center;
}

#membershipLvl label{
    display: flex;
    align-items: center;
    padding: .25rem;
}

input:invalid {
    border-bottom: solid 5px rgba(255, 0, 0, 0.603);
}

#cards div{
    padding: .5rem;
    margin: 1rem;
    border: solid 2px var(--main-color);
    background-color: #d5f0ed;
    animation: changeColor 3s 1 forwards;
}

/* ---------- DISCOVER PAGE ---------- */

#itemsOfInterest {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
}

#itemsOfInterest div{
    border: solid 2px var(--main-color);
    padding: .5rem;
    margin: 1rem;
    border-radius: 1rem;
    background-color: rgb(248, 245, 248);
    display: grid;
    overflow: hidden;
    max-width: 750px;
    grid-template-areas: 
    "image name"
    "image description"
    "image address"
    "image button";
}

#itemsOfInterest h2{
    grid-area: name;
    border-bottom: solid 2px var(--main-color);
}

#itemsOfInterest figure{
    grid-area: image;
}

#itemsOfInterest address{
    grid-area: address;
}

#itemsOfInterest p{
    grid-area: description;
}

#itemsOfInterest button {
    padding: .5rem;
    margin: 1rem;
    grid-area: button;
}

#itemsOfInterest img {
    width: 100%;
    height: auto;
    max-width: 350px;
}

#itemsOfInterest img:hover {
    box-shadow: 0 0 10px 10px var(--secondary-color-transparent);
}


/* FORM ANNIMATIONS */
@keyframes changeColor {
    from {
        opacity: 0;
        /* background-color: rgb(147, 118, 210); */
    }

    to {
        opacity: 100;
        /* background-color: rgb(191, 231, 238); */
    }
}

/* FOOTER */

footer {
    color: var(--main-color);
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 1rem;
    padding: .5rem;
    border: solid 2px var(--main-color);
}

#socialLinks a {
    padding: .5rem;
}