* {
    font-family: "open Sans";
}

:root {
    --main-color: #3B0154;
    --secondary-color: #A69302;
    --secondary-color-transparent: #a6930281;
    /* --main-font: font-family: "Open Sans"; */
}

body {
    width: 80vw;
    margin: 0 auto;
}

/* HEADER */

header {
    color: var(--main-color);
    display: grid;
    /* gap: 10px; */
    grid-template-columns: 44px auto auto 44px 44px;
    grid-template-rows: auto;
    align-items: center;
    text-align: center;
    border-bottom: solid 2px var(--main-color);
}

header a {
    background-color: rgb(233, 244, 247);
    border: solid 2px var(--main-color);
    display: flex;
    align-items: center;
    text-decoration: none;
    margin: .25rem;
    height: 44px;
    width: 5.7rem;
    justify-content: center;
}

header a:hover {
    background-color: rgb(0, 196, 250);
    color: white;
}

header h2 {
    padding: 1rem;
}

.current {
    background-color: rgb(0, 196, 250);
}

.icon {
    height: 44px;
    width: 44px;
    padding: .5rem;
}

#nav-bar {
    /* grid-row: 1/-1; */
    display: flex;
    justify-content: space-around;
    /* height: 44px; */
}

#ham-btn {
    display: none;
    width: 44px;
    height: 44px;
}

#ham-btn::after {
    content: "≡";
    font-size: 3rem;
}

#ham-btn.show::after {
    content: "\00d7";
}

#lightdark {
    width: 44px;
    height: 44px;
    padding: 1rem;
}

#lightdark:hover {
    background-color: rgb(0, 196, 250);
    cursor: pointer;
    /* box-shadow: 0 0 1rem 1rem rgb(0, 196, 250); */
}



/* MAIN */

main {
    color: var(--main-color);
}

#cards {
    display: grid;
    gap: .7rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

#cards section {
    border: solid 2px var(--main-color);
    display: grid;
    place-items: center;
    text-align: center;
    padding: .2rem;
    background: rgb(254, 242, 242);
}

#cards img {
    width: 75%;
    height: auto;
    padding: .2rem;
}

.bold {
    font-weight: bold;
}

.notVisible {
    background-color: rgb(237, 240, 240);
}

.notVisible img{
    display: none;
}

#cards.list {
    display: flex;
    flex-direction: column;
}

#gridList {
    padding: 1rem;
    margin: 1rem;
}

/* FOOTER */

footer {
    color: var(--main-color);
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 1rem;
    padding: .5rem;
    border: solid 2px var(--main-color);
}

#socialLinks a {
    padding: .5rem;
}