@media only screen and (max-width: 1190px) {

    #socialLinks {
        display: grid;
        padding: 1rem;
    }

    body {
        width: 80vw;
        margin: 0 auto;
    }

    #nav-bar {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
    }

        /* FORM SECTION */

        #joinSection {
            grid-template-columns: none;
        }

        /* ITEMS OF INTERST */
    #itemsOfInterest {
        grid-template-columns: 1fr;
    }

    /* #itemsOfInterest div {
        grid-template-areas:
            "image name"
            "image description"
            "image address";
    }

    #itemsOfInterest h2 {
        grid-area: name;
    }

    #itemsOfInterest figure {
        grid-area: image;
    }

    #itemsOfInterest address {
        grid-area: address;
    }

    #itemsOfInterest p {
        grid-area: description;
    } */
}