@media only screen and (max-width: 700px) {
                         /* 320px min */

    #nav-bar {
        display: none;
        grid-template-columns: 1fr;
    }

    #nav-bar.show {
        display: grid;
        grid-column: 1/-1;
    }

    #ham-btn {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    header {
        grid-template-columns: 44px auto 44px;
    }

    #callToAction {
        align-items: center;
        color: white;
    }

    #joinInvite {
        display: none;
    }

    footer {
        display: grid;
    }

    #socialLinks {
        display: flex;
    }
}