@media only screen and (min-width: 38rem) {

    header, main, nav, footer {
        max-width: 900px;
        margin: 0 auto;
    }

    #nav-bar {
        display: flex;
        justify-content: center;
    }

    #nav-bar ul{
        display: flex;
        justify-content: space-between;
    }

    #nav-bar li {
        border: solid 2px var(--main-color);
        padding: 1.5rem;
        margin: .2rem 1rem;
    }

    #ham-btn {
        display: none;
    }
}