*{
    font-family: "Open Sans", sans-serif;
    text-align: center;
}

header {
    background-color: #0b3d91;
    background-color: #17171b;
    color: white;
    padding: 1rem;
}

/* main {

} */

#color1 {
    background-color: #0b3d91;
    color: white;
    padding: 1rem;
}

#color2 {
    background-color: #fc3d21;
    padding: 1rem;
}

#color3 {
    background-color: #17171b;
    color: white;
    padding: 1rem;
}

#color4 {
    background-color: #17171b;
    color: white;
    padding: 1rem;
}

footer {
    display: grid;
    background-color: #0b3d91;
    background-color: #17171b;
    color: white;
    padding: 1rem;
    justify-content: center;
}

footer a {
    display: grid;
    height: 44px;
    padding: .5rem;
    border: solid 2px white;
    margin: 1rem;
    width: 200px;
    text-align: center;
    align-items: center;
}