*{
    font-family: "Open Sans", sans-serif;
    text-align: center;
}

:root {
    --background-black: #26262d;
    --font-white: white;
    --accent-blue: #0b3d91;
    --accent-red: #fc3d21;
}

/* ------- HEADER ------- */

header {
    background-color: var(--background-black);
    color: var(--font-white);
    padding: 1rem 1rem;
    display: grid;
    justify-content: center;
}

#aalogo {
    filter: drop-shadow(0 0 12px var(--accent-red));
}

#aalogo:hover {
    filter: drop-shadow(0 0 12px var(--font-white));
}

nav {
    display: none;
}

#ham-btn {
    height: 44px;
    width: 44px;
    margin: .25rem;
}

#ham-btn::after {
    content: '☰';
    font-size: 2rem;
}

#ham-btn.bob::after {
    content: "\00d7";
}

.show {
    display: grid;
}

.current {
    background-color: #545554;
}

nav a {
    color: var(--font-white);
    border: solid 2px var(--font-white);
    padding: .5rem 1rem;
    margin: .5rem 1rem;
    box-shadow: 0 0 12px 1px var(--accent-red);
}

nav a:hover {
    /* background-color: #555454; */
    box-shadow: 0 0 12px 1px var(--font-white);
}

/* ------- MAIN ------- */

main {
    background-color: #f2f2f2;
    padding: 0 .5rem;
}

main div {
    border: solid 2px var(--accent-blue);
    margin: .5rem;
    padding: .5rem;
}

p {
    font-size: large;
}

#orion-crew {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(265px, 1fr));
    justify-content: center;
}

#membersh2 {
    grid-column: 1/-1;
}

.portrait {
    display: none;
    margin-bottom: .5rem;
}

/*------- FORM -------*/

form {
    background-color: #6281b773;
    display: grid;
    margin: .25rem;
}

form div {
    border: none;
}

input {
    height: 44px;
}

.required::before {
    content: "*";
    color: var(--accent-red);
}

#checkbox {
    width: 44px;
    height: 44px;
}

fieldset #checkbox-label{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ------ FOOTER ------ */

footer {
    background-color: var(--background-black);
    color: var(--font-white);
    padding: 1rem;
    /* margin-top: 1rem; */
}

#attribution-link a {
    display: grid; 
    align-items: center;
    height: 44px;
    /* font-size: large; */
    text-decoration: none;
    color: var(--font-white);
}

#attribution-link a:hover {
    color: var(--accent-red);
    text-decoration: underline;
    /* background-color: brown; */
}

.social-icons img{
    width: 44px;
    height: 44px;
    background-color: var(--accent-blue);
    margin: .5rem;
    padding: .5rem;
    border-radius: 35%;
}

.social-icons img:hover {
    box-shadow: 0 0 12px 1px var(--font-white);
}




/* SITE PLAN INFORMATION */
/* header {
    background-color: #0b3d91;
    background-color: #17171b;
    color: white;
    padding: 1rem;
}



#color1 {
    background-color: #0b3d91;
    color: white;
    padding: 1rem;
}

#color2 {
    background-color: #fc3d21;
    padding: 1rem;
}

#color3 {
    background-color: #17171b;
    color: white;
    padding: 1rem;
}

#color4 {
    background-color: #17171b;
    color: white;
    padding: 1rem;
}

footer {
    display: grid;
    background-color: #0b3d91;
    background-color: #17171b;
    color: white;
    padding: 1rem;
    justify-content: center;
}

footer a {
    display: grid;
    height: 44px;
    padding: .5rem;
    border: solid 2px #ffffff;
    margin: 1rem;
    width: 200px;
    text-align: center;
    align-items: center;
    color: white;
    background-color: #3f3f3f;
} */