@media only screen and (min-width: 850px) {
    /*------- HEADE -------*/

    /*------- MAIN -------*/
    main {
        display: grid;
        margin: 0 auto;
        /* place-items: center; */
        width: 85vw;
    }

    .artemis-info {
        display: grid;
        grid-template-columns: 70% auto;
        text-align: left;
    }

    .artemis-info div {
        text-align: left;
    }

    .artemis-info div p {
        text-align: left;
    }

    /*------- FORM -------*/
    form {
        width: 60vw;
        margin: 0 auto;
    }
}